<h1>URL Shortener Microservice</h1>
<ul>
    <li>Pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
    <li>If the URL is an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain
    an error instead.</li>
    <li>When I visit that shortened URL, it will redirect me to my original link.</li>
</ul>
<h2>How it works</h2>
<ol>
    <li>Just clone the repository, install dependencies and open localhost:3000 on the browser.</li>
    <li>Pass the URL that should be shortened as query paramater: localhost:3000/new/http://www.example.com</li>
</ol>